@charset "UTF-8";

*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --headercolor: #111111;
    --bodycolor: #2C6A91;
    --headermenuhovercolor: #3030309c;
}

@font-face {
    font-family: "games";
    src: url("data/font/Games-Italic.ttf") format("truetype");
}    

@font-face {
    font-family: "gamesplay";
    src: url("data/font/Gameplay.ttf") format("truetype");
}

header nav{
    background-color: var(--headercolor);
    height: 13vh;
    font-family: montserrat;
}

label.logo{
    padding: 0 3%;
    color: white;
    font-size: 2em;
    line-height: 80px;
    font-weight: bold;
}

nav > ul{
    float: right;
    margin-right: 20px;
}

nav > ul > li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav > ul > li > a{
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 3px;
}

nav > ul > li > a:hover, .active{
    background-color: var(--headermenuhovercolor);
    transition: 0.5s;
    padding: 10px;
}

i#menu{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#menu{
    display: none;
}

body{
    background-color: var(--bodycolor);
}

#itens{
    display: none;
}

main#main_index{
    width: 70%;
    margin: auto;
}

div#box_play_hash{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    width: 20%; 
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
    position: relative;
    margin-top: 5%;
    margin-right: 2%;
}

div.name_game{
    background-color: black;
    color: white;
    font-family: "games", "Times", serif;
    font-size: 1.5em;
    font-weight: normal;
    border-radius: 10px 10px 0px 0px;
    text-align: center;

}

div.play{ 
    display: flex; 
    align-items: center;
    justify-content: center;
}
