@charset "UTF-8";

main{
    background-color: black;
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 2%;
}

div#screen_game{
    background-color: white;
    width: 70%;
    height: 100%;
    margin: auto;
    padding: 20px;
}

div#game{
    width: 60%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
}

.posGame{
    width: 30%;
    height: 20%;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

@media screen and (max-width: 768px) {
    div#game{
        width: 90%;
        height: 60%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        margin: auto;
    }
}
div#p1, #p2, #p4, #p5{
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}

div#p3, #p6 {
    border-bottom: 5px solid black;
}

div#p7, #p8{
    border-right: 5px solid black;

}

